@using AspNetCoreSocketServer.SocketService
@using AspNetCoreSocketServer.BlazorServer.ViewModel
@using System.Reactive.Threading.Tasks
@inherits ReactiveUI.Blazor.ReactiveComponentBase<SessionView>

@foreach (var item in ViewModel.SessionDatas)
{
    <div>@item.Address.ToString()</div>
}

@code {

    [Inject]
    public SessionView SessionView
    {
        get => ViewModel;
        set => ViewModel = value;
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadSessions.Execute().ToTask();
    }

}