@using System.Reactive.Threading.Tasks
@using AspNetCoreSocketServer.BlazorServer.ViewModel
@inherits ReactiveUI.Blazor.ReactiveComponentBase<AspNetCoreSocketServer.BlazorServer.ViewModel.SessionView>

<div class="d-flex flex-wrap flex-grow-1 gap-4">
    @foreach (var item in ViewModel.SessionDatas)
    {
        <MudItem>
            <MudPaper Class="pa-2" Outlined="true" Elevation="0">
                <MudPaper Class="d-flex flex-column align-center justify-center border-l-4 pa-4 border-solid mud-border-primary" 
                          Square="true">@item.Address.ToString()</MudPaper>
                <MudText Typo="Typo.h6">ip地址: @item.Ip.ToString()</MudText>
            </MudPaper>
        </MudItem> 
    }
</div>


@code {

    [Inject]
    public SessionView SessionView
    {
        get => ViewModel;
        set => ViewModel = value;
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadSessions.Execute().ToTask();
    }

}