@page "/"
@using AspNetCoreSocketServer.SocketService
@inject ISessionManager SessionManager

<PageTitle>SocketServer</PageTitle>

@{
    foreach (var item in SessionManager.Sessions)
    {
        <div>@item.Address</div> 
    }
}

@code
{
    protected override void OnInitialized()
    {
        SessionManager.OnChange += StateHasChanged;
        base.OnInitialized();
    }
}
