@page "/"
@using AspNetCoreSocketServer.SocketService
@inject ISessionManager SessionManager

<PageTitle>SocketServer</PageTitle>

@{
    foreach (var item in SessionManager.Sessions)
    {
        <div>@item.Address</div> 
    }
}